<html>
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title></title>
</head>
<body>
<h1><tt>HOW TO TWAX</tt><tt>
<meta charset="utf-8">
<span style="color: rgb(0, 0, 0); font-family: Times; font-size:
medium; font-style: normal; font-variant: normal; font-weight:
normal; letter-spacing: normal; line-height: normal; orphans:
auto; text-align: start; text-indent: 0px; text-transform:
none; white-space: normal; widows: auto; word-spacing: 0px;
-webkit-text-stroke-width: 0px; display: inline !important;
float: none; background-color: rgb(0, 204, 255);">™</span>
YOUR FAX</tt></h1>
<p><tt>Is your phone too hard to use?&#xFFFD; Do you wish twitter could be
easier&#xFFFD; Why cant twitter just be more like my very very reliable
fax machine&#xFFFD; We are here to help you with this!! Let us handle
the hard part of twitter by converting your faxes in to tweets.
Need more convincing&#xFFFD; Just listen to what people have to say
about our service.</tt><tt><br>
</tt></p>
<pre><br><img src="<%= image_path("help/testimonial-1.jpg") %>" alt="" width="181" align="middle" height="255"> Before Twax(TM) I never got anything done because I was always fumbling with <br>my darn iphone. Why doesnt apple make it this easy&#xFFFD;<br><br><br><img src="<%= image_path("help/testimonial-2.jpg") %>" alt="" width="137" align="middle" height="206">My friends love seeing my Twaxed<meta charset="utf-8"><meta charset="utf-8"><span style="color: rgb(0, 0, 0); font-family: Times; font-size: medium; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(0, 204, 255);">™</span> photos of my meals. It makes them so hungry!<br><br><br><br><br><br><img src="<%= image_path("help/testimonial-3.jpg") %>" alt="" width="147" align="left" height="214"> <br><br><br>As the owner of a public relations company we tweet on behalf of customers on an hourly basis. Twax<meta charset="utf-8"><span style="color: rgb(0, 0, 0); font-family: Times; font-size: medium; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(0, 204, 255);">™</span> has<br>streamlined this workflow and allowed us to double our productivity. It's just so easy: print fax template, <br>write tweet, scan and upload to fax service, send to Twax<meta charset="utf-8"><span style="color: rgb(0, 0, 0); font-family: Times; font-size: medium; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(0, 204, 255);">™</span>, and sit back and relax as Twax<meta charset="utf-8"><span style="color: rgb(0, 0, 0); font-family: Times; font-size: medium; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(0, 204, 255);">™</span> does the real hard work.<br></pre>
<h1><br>
</h1>
<h1><br>
</h1>
<h1><br>
</h1>
<h1><tt>become our customer today and experience the life changing
world of TWAX</tt><tt>
<meta charset="utf-8">
<span style="color: rgb(0, 0, 0); font-family: Times; font-size:
medium; font-style: normal; font-variant: normal; font-weight:
normal; letter-spacing: normal; line-height: normal; orphans:
auto; text-align: start; text-indent: 0px; text-transform:
none; white-space: normal; widows: auto; word-spacing: 0px;
-webkit-text-stroke-width: 0px; display: inline !important;
float: none; background-color: rgb(0, 204, 255);">™</span>!</tt><tt><br>
</tt></h1>
<pre><br></pre>
<p><tt>*please sign up for a twitter dot com account</tt><tt><br>
</tt><tt>*once you do that click "Sign In With twitter"</tt><tt><br>
</tt><tt>*please refer to </tt><a href="/help?page=how_to">the
fax help for more information</a><br>
</p>
<p><br>
</p>
<pre><br><br><br><font face="Comic Sans MS">grocery list<br>* ornages<br>* paper towels<br>* apples<br>* ground beef<br>* pasta<br>* milk<br></font><br><br><br><br><br><br></pre>
<audio src="/midi.mp3" preload="auto" autoplay="autoplay"></audio>
</body>
</html>

