<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Help Menu</title>
  </head>
  <body alink="#EE0000" bgcolor="#00CCff" link="#0000EE" text="#000000"
    vlink="#551A8B">
    <center><a href="/help/default.php" target="right"><img
              alt="EMAIL" src="<%= image_path("help/clippy.gif") %>"
              height="128" width="128" style="border: 2px solid blue;"></a></center><br>
    <table border="4" cellpadding="2" cellspacing="2" width="100%">
      <tbody>
        <tr>
          <td valign="top"><big><big><a target="right"
                  href="/help/about.html">What is Twax&trade;?</a><br>
              </big></big></td>
        </tr>
        <tr>
          <td valign="top"><big><big><a target="right"
                  href="/help/supported_fax_machines.cfm">Supported Fax
                  machines</a><br>
              </big></big></td>
        </tr>
        <tr>
          <td valign="top"><big><big><a target="right"
                  href="/help/how_to.cgi">How to send a F</a>ax<br>
              </big></big></td>
        </tr>
        <tr>
          <td valign="top"> <%= link_to root_path,
            image_tag("help/homebutton.jpg") %> </td>
        </tr>
        <tr>
          <td valign="top"> <%= link_to image_tag("help/homebutton.jpg"), root_path, :target => "_top" %></td>
        </tr>
      </tbody>
    </table>
    <big><big><br>
      </big></big>
    <div align="center"><a href="mailto:justthefax@twaxdotcom.com"><big><big><img
              alt="EMAIL" src="<%= image_path("help/email.gif") %>"
              height="128" border="2" width="128"></big></big></a><br>
      <big><big> </big></big></div>
    <p><font face="Times New Roman, Times, serif"><i>© 1997-2014 <b>www.twaxdotcom.com</b>
          All Rgihts Reserved.</i></font></p>&trade;
  </body>
</html>
