<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>supported_fax_machines</title>
  </head>
  <body alink="#EE0000" bgcolor="#663366" link="#0000EE" text="#000000"
    vlink="#551A8B" background="<%= image_url("help/mad-space.gif") %>">
    <div align="center"><font color="#ffcccc"> <big><big><big><big><u><i><b>SUPPORTED
                      FAX MACH</b></i></u><u><i><b>INES</b></i></u></big></big></big></big></font><br>
    </div>
    <font color="#ffcccc"><big><big><big><big><br>
              FAX 1150MC FAX 1170 FAX 1250MC
              FAX 1270 FAX 1350MC FAX 1450MC
              FAX 1550MC FAX 1570 FAX 1800 C
              FAX 2300ML FAX 2400ML FAX 2500ML
              FAX 2600 FAX 2750 FAX 2800
              FAX 2900 FAX 3500ML FAX 3550
              FAX 3650 FAX 3750 FAX 3800
              FAX 4100 FAX 4750 FAX 4750e
              FAX 5750 FAX 5750e
              MFC 1750MC MFC 1770 MFC 1850MC
              MFC 1950MC MFC 1970MC MFC 3100 C
              MFC 4000ML MFC 4300 MFC 4350
              MFC 4400ML MFC 4450 MFC 4500ML
              MFC 4550 MFC 4600 MFC 4650
              MFC 4800 MFC 5100C MFC 5500ML
              MFC 5550ML MFC 6800 MFC 7000FC
              MFC 7050 C MFC 7150 C MFC 7160 C
              MFC 7200FC MFC 7300 C MFC 7400 C
              MFC 7550 MFC 7650 MFC 7750
              MFC 8300 MFC 8500 MFC 8600
              MFC 8700 MFC 9700 MFC 9800
              DCP 1000 DCP 1200 DCP 1400
              DCP110C DCP120C DCP130C
              DCP165C DCP310CN DCP330C
              DCP350C DCP385C DCP4020C
              DCP540CN DCP585CW DCP7020
              DCP7030 DCP7040 DCP750CW
              DCP770CW DCP8020 DCP8025
              DCP8040 DCP8025DN DCP8045D
              DCP8060 DCP8060DN DCP8065DN
              DCP8080DN DCP8085DN DCP9040CN
              DCP9045CDN HL1030 HL1040
              HL1050 HL1060 HL1230
              HL1240 HL1250 HL1270N
              HL1430 HL1435 HL1440
              HL1450 HL1470N HL1650
              HL1650N HL1650N HL1670N
              HL1850 HL1870N HL2030
              HL2040 HL2070N HL2140
              HL2150N HL2170W HL2400C
              HL2460 HL2460N HL2600CN
              HL2700CN HL3040CN HL3070CW
              HL3400CN HL3450CN HL4000
              HL4000CN HL4040CDN HL4040CN
              HL4070CDW HL4200CN HL5030
              HL5040 HL5050 HL5070N
              HL5130 HL5140 HL5150D
              HL5170DN HL5240 HL5250DN
              HL5270DN HL5340D HL6050
              HL630 HL641 HL645
              HL650 HL655M HL660
              HL665 HL7050 HL720
              HL730 HL760 HL8050
              intelliFAX 2820 intelliFAX 2920 MFC3420C
              MFC3820C MFC7220 MFC7320
              MFC7420 MFC7440N MFC7550MC
              MFC7650MC MFC7750 MFC7820N
              MFC7840W MFC795CW MFC8220
              MFC8420 MFC8440 MFC8460N
              MFC8480DN MFC8550 MFC8640D
              MFC8680DN MFC8660 MFC8670DN
              MFC8820D MFC8840D MFC8860DN
              MFC8870DW MFC8880DN MFC8890DW
              MFC9010CN MFC9030 MFC9070
              MFC9100C MFC9120CN MFC9160
              MFC9180 MFC9200C MFC9320CW
              MFC9420CN MFC9440CN MFC9450CDN
              MFC9660 MFC9750 MFC9760
              MFC9840CDW MFC9860 MFC9880
              Laser Class 2050 Laser Class 2060
              Laser Class 3170 Laser Class 3175
              Laser Class 3500
              CFXL 4000
              CFXL 4500
              Laser Class 5000
              Laser Class 5500 Laser Class 6000
              Laser Class 7000 Laser Class 7500
              Laser Class 8000 Laser Class 8500
              Laser Class 9000 Laser Class 9500
              Laser Class 710 Laser Class 720 i
              Laser Class 730 i Image Class 1100
              L-770 / 700 / 760 / 775 / 777
              Copier PC 700 / 720 / 740 / 770 / 790 / 795
              Multi Pass C3500 Multi Pass C5500
              B 140 / B 160 B 540
              B 640 Contact Us
              CFXB380IF Fax B120
              Fax-B360IF Faxphone B140
              Faxphone B150 Faxphone B160
              Faxphone B170 Faxphone B340
              Faxphone B360IF Faxphone B540
              Faxphone B550 Faxphone B640
              Faxphone B740 Faxphone B95
              Faxphone L120 Faxphone L170
              Faxphone L180 Faxphone L75
              Faxphone L80 Faxphone L90
              L380 L390
              ImageClass 1100 ImageClass 2200
              ImageClass 2210 ImageClass 2220
              ImageClass 2250 ImageClass 2300
              ImageClass 4000 ImageClass C2500
              ImageClass C3500 ImageClass D1120
              ImageClass D1150 ImageClass D1170
              ImageClass D1180 ImageClass D320
              ImageClass D340 ImageClass D380
              ImageClass D480 ImageClass D600
              ImageClass D660 ImageClass D661
              ImageClass D680 ImageClass D760
              ImageClass D761 ImageClass D780
              ImageClass D860 ImageClass D861
              ImageClass D880 ImageClass MF3110
              ImageClass MF3240 ImageClass MF4150
              ImageClass MF4270 ImageClass MF4350D
              ImageClass MF4370DN ImageClass MF4690
              ImageClass MF5530 ImageClass MF5550
              ImageClass MF5730 ImageClass MF5750
              ImageClass MF5770 ImageClass MF5850
              ImageClass MF6500 ImageClass MF6530
              ImageClass MF6531 ImageClass MF6540
              ImageClass MF6550 ImageClass MF6560
              ImageClass MF6580 ImageClass MF6590
              ImageClass MF6595 ImageClass MF7280
              ImageClass MF7460 ImageClass MF7470
              ImageClass MF7480 ImageClass MF8150C
              ImageClass MF8170C ImageClass MF8180C
              ImageClass MF8350DN ImageClass MF8450C
              ImageClass MF9150C ImageClass MF9170C
              ImageClass MPC190 ImageClass MPC200
              Laser Class 1050 Laser Class 1060P
              Laser Class 2050 Laser Class 2050P
              Laser Class 2060 Laser Class 2060P
              Laser Class 310 Laser Class 3170
              Laser Class 3175 Laser Class 5000
              Laser Class 510 Laser Class 5500
              Laser Class 7000 Laser Class 710
              Laser Class 720i Laser Class 730i
              Laser Class 7500 Laser Class 8000
              Laser Class 810 Laser Class 830i
              Laser Class 8500 Laser Class 9000
              Laser Class 9000L Laser Class 9500
              MultiPASS 1000 MultiPASS 800
              MultiPASS C100 MultiPASS C2500
              MultiPASS C30 MultiPASS C3000
              MultiPASS C3500 MultiPASS C50
              MultiPASS C5000 MultiPASS C530
              MultiPASS C545 MultiPASS C5500
              MultiPASS C555 MultiPASS C560
              MultiPASS C600F MultiPASS C635
              MultiPASS C70 MultiPASS C75
              MultiPASS C755 MultiPASS C80
              MultiPASS F20 MultiPASS F30
              MultiPASS F50 MultiPASS F60
              MultiPASS F80 MultiPASS L60
              MultiPASS L6000 MultiPASS L90
              MultiPASS MP360 MultiPASS MP370
              MultiPASS MP370 MultiPASS MP390
              MultiPASS MP700 MultiPASS MP730
              FO 1450 FO 1460 FO 2600
              FO 2850 FO 2950 FO 2950M
              FO 3250 FO 3300 FO 3350
              FO 3400 FO 3450 FO 3800M
              FO 3850 FO 4500 FO 4650
              FO 4700 FO 4800 FO 4810
              FO 4850 FO 4900 FO 4970
              FO 5200 FO 5210 FO 5220
              FO 5300 FO 5400 FO 5450
              FO 5500 FO 5550 FO 5600
              FO 5700 FO 5800 FO 6000
              FO 6100
              FO 6500 FO 6550
              FO 6600 FO 6700 UX 3200
              UX 510 UX 2100 UX 3250
              FO 6100
              FO 6500 FO 6550
              FO 6600 FO 6700 UX 3600
              FO1530 FO1650 FO1660
              FO2600 FO2700 FO3350
              FO4400 FO4470 FODC500
              FODC535 FODC545 FODC550
              FODC600 FODC635
              HP Office Jet 500, 600, 700 Series
              HP Fax 200 / 300 / 310
              HP Laser Jet 3100 / 3150 / 3200 HP 1100 Printer
              HP 900 / 950 Fax Machine
              HP Fuser Units
              HP OfficeJet T45 / K40 / K80 Order Form
              HP Fax 910 / 920 HP Office Jet LX 300, LX 350, C2890
              Fuser Assemblies
              HP Fax 700 / 750
              KXFL 501 UF 300 UF 311
              UF 312 UF 315 UF 321
              UF 322 UF 332 UF 342
              UF 490 UF 550 UF 560
              UF 585 UF 595 UF 744
              UF 745 UF 755 UF 755E
              UF 770 UF 770I UF 788
              UF 790 UF 880 UF 885
              UF 890 UF 895 DF 1100
              DX 1000 PD 4200 PX 350
              UF4000 UF590 UF5950
              UF6000 UF6200 UF6950
              UF7000 UF7200 UF7950
              UF8000 UF8200 UF9000
              UF990 KXF1000 KXF1010
              KXF1015 KXF1016 KXF1020
              KXF1050 KXF1070 KXF1100
              KXF1110 KXF1150 KXF1600
              KXF1810 KXF1820 KXF1830
              KXF2900 KXF3000 KXF3100
              KXF5000 KXF969 KXFHD331
              KXFHD332 KXFHD351 KXFL501
              KXFL511 KXFL521 KXFL541
              KXFL611 KXFLB751 KXFLB756
              KXFLB801 KXFLB811 KXFLB851
              KXFLB881 KXFLM551 KXFLM600
              KXFLM650 KXFLM651 KXFM106
              KXFM205 KXFM210 KXFM220
              KXFM255 KXFM260 KXFM280
              KXFM330 KXFMC230 KXFMX330
              KXFP101 KXFP105 KXFP121
              KXFP151 KXFP152 KXFP155
              KXFP195 KXFP200 KXFP245
              KXFP250 KXFP258 KXFP265
              KXFP270 KXFP278 KXFP300
              KXFP320 KXFP80 KXFP81
              KXFP85 KXFP86 KXFPC135
              KXFPC141 KXFPC151 KXFPC161
              KXFPC165 KXFPC166 KXFPC91
              KXFPC95 KXFPC96 KXFPG175
              KXFPG176 KXFPG370 KXFPG371
              KXFPG372 KXFPG376 KXFPG377
              KXFPG379 KXFPG381 KXFPG391
              KXFPW111 KXMB261 KXMB262CX
              KXMB263 KXMB271 KXMB771
              KXMB772CX KXMB773 KXMB781
              KXMB783 KXMC6020 KXMC6040
              WorkCentre 250 WorkCentre 385
              WorkCentre 390 WorkCentre 450C
              WorkCentre 470CX WorkCentre 480CX
              WorkCentre 3006 WorkCentre Pro 535
              WorkCentre Pro 545 WorkCentre Pro 555
              WorkCentre Pro 575 WorkCentre Pro 610
              WorkCentre Pro 635 WorkCentre Pro 645
              WorkCentre Pro 657 WorkCentre Pro 665
              WorkCentre Pro 685 FaxCentre Pro 735
              WorkCentre Pro 745 WorkCentre Pro 765
              WorkCentre Pro 785 7020
              7021 Telecopier 7024
              Telecopier 7032 Telecopier 7033
              7041 7042
              Telecopier 7280 Xerox Docuprint N24, N32, N40 &amp; Xerox
              P8 Printer
              1000L 1010L 1013
              1700L 1900L 2000L
              2050L 2400L 2500L
              2600L 2700L 2800L
              2900L 3000L 3100L
              3200L 3500L 3700L
              3800L 3900L 4000L
              4500L 4700L 4800L
              5000L 5600L 7000L
              MV310 Aficio 200 Aficio FX-10
              MV715 1130L 1160L
              1170L 1180L 3320L
              3310L 3310LE 4410L
              4410NF 4420L 4420NF
              4430L 4430NF 4500L
              5510L 5510NF
              L 40 L 41 L 42
              L 46 L 47 L 520
              L 525 L 535 L 545
              L 620 L 620E L 621
              DP 80 F DP 85 F DP 120 F
              DP 125 F TF 601 TF 610
              TF 621 TF 631 TF 651
              TF 671 TF 831 TF 851
              3210 3720 3740
              4210 9650 9660
              9661 9662 9665
              9670 9671 9763
              9767 9768 9867
              9870 9873 9877
              9878 9980
              SF 3620 SF 3630 SF 3640
              SF 3651 SF 3660 SF 3670
              SF 3680 SF 3685 SF 3687
              SF 3690 SF 3695 SF 3699
              SF 3700 SF 3705 SF 9630
              SF 9920 SF 9940
              9110 DP 9910 DP</big></big></big></big> </font>
    <p><font face="Times New Roman, Times, serif"><i>© 1997-2014 <b>www.twaxdotcom.com</b>
All Rgihts Reserved.</i></font></p>
  </body>
</html>
