<center>
<table border="3" cellpadding="6" cellspacing="2" width="960px">
  <tbody>
    <tr>
      <td valign="top" align="center" bgcolor="white" width='30%' style="padding: 10px">
        <a href="http://www.phaxio.com"><%= image_tag('phaxio.png') %></a><br>
        Thanks to our wonderful sponsor Phaxio for making sure your twaxes get tweeted!
      </td>
      <td align="center" valign="center">
      <a href="http://www.reliablecounter.com" target="_blank"><img
      src="http://www.reliablecounter.com/count.php?page=www.twaxdotcom.com&amp;digit=style/odometers/7/&amp;reloads=0"
      alt="page counter code" title="page counter code"
      border="0" height="40" width="300"></a><br>
      </td>
      <td align="center" valign="center">
      <img src="<%= image_url("best_viewed.png") %>" alt=""></td>
    </tr>
  </tbody>
</table>
&nbsp;&nbsp;&nbsp; <br>
<p>
  <font face="Times New Roman, Times, serif">
    <i>© 1997-2014 <b>www.twaxdotcom.com</b> All Rgihts Reserved.</i>
  </font>
</p>
</center>
