@import 'colors';

hr.unstyled {
  border-bottom: 3px inset white;
}

body.faxes {
  background-color: white;
}

.aqua-box {
  background-color: $aqua;
  width: 100%;
}

.your-logo-block {
  right: 0;
  top: 0;
  z-index: -1;
}

.your-placeholder-block {
  margin-bottom: 15px;
}

.current-user-avatar {
  top: 1px;
  left: 16px;
  height: 159px;
  width: 159px;

  &:hover {
    opacity: 0.5;
  }
}

.welcome {
  position: relative;
  padding-left: 30px;
  padding-top: 30px;
  font-family: courier;
  font-size: 22px;
  z-index: 999;
}

.yellow-bar {
  position: relative;
  background-color: yellow;

  h1 {
    font-style: italic;
    padding: 10px;
    margin: 0;
  }

  h2 {
    display: inline-block;
    font-weight: bold;
    margin: 0;
    padding-top: 15px;
    padding-left: 40px;
    width: 100%;
    text-align: right;
  }
}

.content-container {
  height: 250px;
}

img.hr {
  width: 100%;
  margin: 10px 0;
}

.print-pdf-block {
  position: absolute;
  right: 30px;
  top: -70px;
}

.guide {
  padding-left: 55px;
  font-family: courier;
  white-space: pre;
  font-size: 17px;
  margin: 0;
}

.phone-block {
  left: 35px;
  top: 10px;
}

.professional-skills {
  margin: 100px 0;
}

.old-table {
  border-top-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 5px;
  border-spacing: 2px;
  width: 100%;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-variant: normal;
  font-style: normal;
  color: -webkit-text;
  text-align: start;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
  margin: 20px 0;

  td {
    text-align: center;
  }
}
